# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE & Editors
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/
!.vscode/
!.vscode/settings.json

# OS Specific
.DS_Store
Thumbs.db

# Server & Runtime test run artifacts
run/
logs/
plugins/
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.log
